<div class="info">
<h1>Hangman</h1>
<p>It's terribly evil.</p>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Start game</button>
</div>
<%= render 'game/startmodal' %>

<div class="row">
  <div class="col-md-4">
    <h2>Instructions</h2>
    <p>Here's how to play:</p>
  </div>
  <div class="col-md-4">
    <h2>You're never going to win....</h2>
    <p>In it's current state, anyway. Ping me if you figure out the algorithm!</p>
  </div>
</div>