<div class="info">
<h1>Hangman</h1>
<p>It's terribly evil.</p>

<button href="/play" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#play" data-whatever="@mdo"><i class="fa fa-play fa-lg"></i> Start game</button>
</div>
<%= render partial: 'layouts/modal', locals: {id: "play" } %>
<div class="container extra-information">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Instructions</h2>
      <p>Here's how to win: Don't die (Instructions on how to do that in the button below.) BTW: Use Chrome.</p>
      <p><a data-toggle="modal" data-target="#instruction" data-whatever="@mdo" class="btn btn-success" href="#" role="button">Full Instructions »</a></p>
    </div>
    <div class="col-md-4">
      <h2>View the source!</h2>
      <p>On GitHub for the world to see. I tried to be pretty good about conventions and style.</p>
      <p><a class="btn btn-default" href="#" role="button"><i class="fa fa-github fa-lg"></i> Go to GitHub repo »</a></p>
    </div>
    <div class="col-md-4">
      <h2>What's the secret sauce?</h2>
      <p>If you figure out the algorithm and can win a game, ping me on Twitter or follow me on GitHub! (pls)</p>
      <p><a class="btn btn-info" href="#" role="button"><i class="fa fa-twitter fa-lg"></i> Retweet »</a></p>
    </div>
  </div>
</div>
<%= render partial: 'layouts/modal', locals: {id: "instruction" } %>