// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body, html {
  height: 100%;
}

body {
  padding-top: 60px;
}

.container {
  @include centerdiv;
  height: 80%;
  vertical-align: middle;
  background-color: $background-color;

}