// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body, html {
  height: 100%;
}

body {
  padding-top: 60px;
}

.game-container {
  @include centerdiv;
  position: relative;
  background-color: $background-color;
  height: 91%;
}

.info {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#exampleModal {
  pointer-events: all;
}