$background-color: mix(lightcoral, white, 40%);
$font: sans-serif;
$division-height-pixel: 60px;
$division-height-percent: 20%;


$primary-color: mix(darkturquoise, white, 40%);
$secondary-color: #eaeaea;