<form>
  <div class="form-group">
    <label for="recipient-name" class="control-label">What word length do you want to use?</label>
    <input type="text" class="form-control" id="recipient-name">
  </div>
</form>