<form method="get" action="/play">
  <div class="form-group">
    <label for="recipient-name" class="control-label">What word length do you want to use?</label>
    <input type="text" class="form-control" name="length" id="recipient-name">
  </div>
  <input type="submit" value="Start!">
</form>